asgiref             
contourpy            
cycler                
Django               
django-cors-headers  
django-rest-authtoken
djangorestframework   
fonttools             
fullcontrol          
graphviz              
kiwisolver           
matplotlib           
mesh                 
mysqlclient          
numpy                 
packaging           
pillow                
pip                 
plotly                
pydantic             
pyparsing            
python-dateutil     
scipy                 
six                   
sqlparse             
stl                  
tenacity             
trimesh              
typing_extensions     
