/* .transition-slide {
    position: relative;
    overflow: hidden;
  }
  
  .transition-slide {
    animation: slideFromLeft 2s ease; 
  }
  
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  } */
  .transition-slide {
    position: relative;
    overflow: hidden;
  }
  
  .transition-slide.animation-triggered {
    animation: slideFromLeft 1s ease; /* Adjust duration and timing function as needed */
  }
  
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }